
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.projects{
    background: #f8f1f1;
    width: 100%;
    min-height: 100vh;
 }

 .container{
    text-align: center;

 }
 .container h1{
 }

