*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section{
    background: #f7f7f7;
    padding: 5% 10%;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}
.about-title{
    text-align: center;
}

.float-item{
    margin-top: 70px;
    display: flex;
    justify-content: center;

}

.float-item p{
    width: 60%;
}
.about{
    align-items: center;
}
.float-item img{
    margin-left: 200px;
    float: left;
    width: 50%;
    height: 100%;
    margin-bottom: 30px;
}
.flex-col{
    display: block;
}
.text-flex{
    display: flex;
}
.text-in{
    display: flex;
    flex-wrap: wrap;
}
.text-in p{
    font-size: x-large;
}