*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section{
    background: #f7f7f7;
    padding: 5% 7%;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}
.about-title{
    text-align: center;
}
.about-title h1{
    font-size: 32px;
    span{
        font-weight: 200;
        text-decoration: 1.5px solid underline;
    }
}

.about-text{
    margin-top: 50px;  
    font-size: large;
    font-weight: 400;
    color: #555;
}
.about-imag{
    overflow-y: hidden;
}


.float-item{
    margin-top: 90px;
    display: flex;
    justify-content: center;

}

.float-item p{
    width: 80%;
}
.about{
    align-items: center;
}
.about-imag img{
    margin-left: 80px;
    margin-right: 500px;
    float: left;
    width: 80%;
    height: 100%;
    margin-bottom: 30px;
}
.flex-col{
    margin-left: 50px;
    margin-top: 100px;
}
.flex-col button{
    margin-top: 40px;
    padding: 8px 25px;
    border: none;
    background: blue;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
}
.text-flex{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 25px;

}
.text-flex h3{
    font-size: 32px;
    color: #222;
    font-weight: bolder;

}
.text-in{
    display: grid;
    grid-template-rows: repeat(2,1fr);
}
.text-in p{
    font-size: large;
}

